.overlaychooseplayer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.modal {
  position: relative;
  padding: 5%;
  width: 100%;
  min-width: 300px;
  max-width: 1600px;
  text-align: center;
  z-index: 20;
  max-height: 100vh;

  @media (max-width: 768px) {
    .modal {
      width: 90%;
      padding: 7%;
    }
  }
}

.title {
  font-family: 'Grand-Casino', sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  text-shadow: 0 0 4px #000;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 15px;
}

.number-button {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.number-button img {
  width: 75%;
  height: 85%;
  object-fit: contain;
}

.number-button:hover {
  transform: scale(1.2);
}

.number-button.selected {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ffd700);
}

.confirm-btn {
  padding: 10px 50px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #c55794;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 40%;
  min-width: 300px;

  height: 50px;
}

.confirm-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
