@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  width: 100%;
  min-width: 300px;
  max-width: 1600px;
  text-align: center;
  z-index: 100;
  max-height: 100vh;
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 7%;
  }
}

.title {
  font-family: 'Baumans', sans-serif;
  font-size: 45px;
  color: white;
  margin-bottom: 30px;
  text-shadow: 0 0 4px #000;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 60%;
  margin: 0 auto;
}

.number-button {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-button img {
  width: 80%;
  height: 75%;
  object-fit: contain;
}

.number-button:hover {
  transform: scale(1.2);
}

.number-button.selected {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ffd700);
}

// .confirm-btn {
//   padding: 10px 50px;
//   font-size: 16px;
//   border: none;
//   border-radius: 6px;
//   background-color: rgba(255, 255, 255, 0.6);
//   color: #c55794;
//   cursor: pointer;
//   font-weight: bold;
//   transition: all 0.3s ease;
//   width: 40%;
//   min-width: 300px;

//   height: 50px;
// }

// .confirm-btn:disabled {
//   opacity: 0.5;
//   cursor: not-allowed;
// }
