@font-face {
  font-family: 'Grand Casino';
  src: url('../fonts/grand-casino/Grand-Casino.otf');
}

@font-face {
  font-family: 'Lostar';
  src: url('../fonts/lostar/Lostar.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Grand Casino', 'Lostar';
}

.landing-gradient {
  background: linear-gradient(0deg, #6373dd 0, #ad0f66 100%, #ad0f66 100%);
}
