@font-face {
  font-family: 'Grand-Casino';
  src: url('../fonts/grand-casino/Grand-Casino.otf');
}

@font-face {
  font-family: 'Lostar';
  src: url('../fonts/lostar/Lostar.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lostar';
}

.landing-gradient {
  background: linear-gradient(to bottom, #0f0f0f 50%, #7e486a 100%);
}
