.logo-container img {
  width: 50%;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin: 70px;
}
// .box-opacity {
//   background-color: rgb(255, 255, 255, 0.2);
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   width: 100%;
//   border-radius: 40px;
// }
